.btn {
    font-weight: var(--fw-medium);
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: solid 1px;

    &:disabled {
        cursor: not-allowed;
    }

    // Size variants
    &--sm {
        font-size: var(--font-size-sm);
        line-height: var(--line-height-md);
        border-radius: var(--radius-sm);
        padding: var(--space-xs) var(--space-sm);
    }

    &--md {
        font-size: var(--font-size-md);
        line-height: var(--line-height-lg);
        border-radius: var(--radius-md);
        padding: var(--space-xs) var(--space-md);
    }

    &--lg {
        font-size: var(--font-size-lg);
        line-height: var(--line-height-xl);
        border-radius: var(--radius-md);
        padding: var(--space-sm) var(--space-md);
    }

    &--primary {
        background-color: var(--fill-blue);
        color: var(--text-white);
        border-color: var(--stroke-blue);
        &:disabled {
            background-color: var(--fill-blue-light);
        }
    }

    &--secondary {
        background-color: var(--fill-white);
        color: var(--text-default);
        border-color: var(--stroke-grey-light);
        &:disabled {
            background-color: var(--fill-blue-light);
        }
    }
}
