.btn {
    font-weight: var(--fw-medium);
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px;

    &:disabled {
        cursor: not-allowed;
    }

    &--sm {
        font-size: var(--font-size-sm);
        line-height: var(--line-height-md);
        border-radius: var(--radius-sm);
        padding: var(--space-xs) var(--space-sm);
    }

    &--md {
        font-size: var(--font-size-md);
        line-height: var(--line-height-lg);
        border-radius: var(--radius-md);
        padding: var(--space-xs) var(--space-md);
    }

    &--lg {
        font-size: var(--font-size-lg);
        line-height: var(--line-height-xl);
        border-radius: var(--radius-md);
        padding: var(--space-sm) var(--space-md);
    }

    &--primary {
        background-color: var(--fill-blue);
        color: var(--text-white);
        border-color: var(--stroke-blue);
        &:hover, &.hover {
            background-color: var(--fill-blue-dark);
        }
        &:focus, &.focus {
            box-shadow: 0px 0px 0px 3px var(--stroke-blue-lighter);
        }
        &:disabled {
            background-color: var(--fill-blue-light);
            border-color: var(--stroke-blue-light);
        }
    }

    &--secondary {
        background-color: var(--fill-white);
        color: var(--text-default);
        border-color: var(--stroke-grey-light);
        &:hover, &.hover {
            background-color: var(--fill-grey-lightest);
        }
        &:focus, &.focus {
            box-shadow: 0px 0px 0px 3px var(--stroke-grey-lightest);
        }
        &:disabled {
            background-color: var(--fill-grey-lighter);
            border-color: var(--stroke-grey-lighter);
            color: var(--text-default-lighter);
        }
    }

    &--tertiary {
        background-color: var(--fill-white);
        color: var(--text-link);
        border-color: var(--stroke-white);
        &:hover, &.hover {
            color: var(--text-link-hover);
        }
        &:disabled {
            color: var(--text-link-inactive);
        }
    }

}
